{
  "branches": [
    "v2-main",
    {
      "name": "v2-develop",
      "prerelease": "rc"
    }
  ],
  "tagFormat": "${version}",
  "repositoryUrl": "https://github.com/davdarras/test-release",
  "debug": "true",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "writerOpts": {
          "groupBy": "type",
          "commitGroupsSort": "title",
          "commitsSort": "header"
        },
        "linkCompare": true,
        "linkReferences": true
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Semantic Versioning Changelog"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "mvn versions:set -DnewVersion=${nextRelease.version} --no-transfer-progress"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "pom.xml"
        ],
        "message": "chore(release): Bumped to version ${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "release/**"
          }
        ]
      }
    ]
  ]
}
