{
  "branches": "main",
  "repositoryUrl": "https://github.com/davdarras/test-release",
  "debug": "true",
  "plugins": [
    [
      "@semantic-release/commit-analyzer", 
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Semantic Versioning Changelog"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./prepare-release.sh ${nextRelease.version}"
      }
    ], 
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "pom.xml"
        ],
        "message": "chore(release): Bumped to version ${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "release/**"  
          }
        ]
      } 
    ]
  ]
}
